{% extends 'base.html.twig' %}

{% block title %} tout les produites !{% endblock %}


{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 200; width: 95%; font: 18px/1.5 sans-serif;
                       background: #F5F5F5; }
</style>        


 <h2> table de client  </h2>
    <table class="table bg-light">

            <thead>

                  <tr>
                      <th> N° de client </th>  
                      <th> nom </th>  
                      <th> prenom </th>                
                      <th> adresse </th>                
                      <th> ville </th>                
                      <th> code postale </th>                
                      <th> telephone </th>
                      <th> supprission </th> 
                  </tr>
          </thead>

          <tbody>
          {% for cli in client %}
      
                  <tr>
                      <td> {{ cli.getId() }}    </td>
                      <td> {{ cli.getNomCli() }}    </td>
                      <td> {{ cli.getPrenomCli() }}    </td>
                      <td> {{ cli.getAdresse() }}    </td>
                      <td> {{ cli.getVille() }}    </td>
                      <td> {{ cli.getCP() }}    </td>
                      <td> {{ cli.getTelephone() }}    </td>

                      <td> 
                      <a href="{{ path('client_delete',{"id": cli.user.id}) }}" 
                      onclick="return confirm('Attention ce ci va supprimer le client selectionnez')" > <i class="fas fa-trash"></i></a>
                      </td>
                      
                      
                  </tr>
          {% endfor %}

          </tbody>
      
    </table>

{% endblock %}