
{% extends 'base.html.twig' %}


{% block title %} registration  {% endblock %}


{% block body %}

<style>
   .example-wrapper {  margin: 1em auto; max-width: 400px; width: 95%; font: 18px/1.5 sans-serif; 
                        background: #F5F5F5; padding: 2px 2px;position: sticky; display: block ; top: 20px;
                         text:center;  }
</style>

<div class="example-wrapper" >

  <div class="mr-4 ml-4 ">

    <h2> inscription </h2>
    

    {{ form_start(form) }}

       {{ form_row(form.username, {'label':'nom utilisateur','attr':{'placeholder':'votre nom utilisateur'}}) }}
    {{ form_row(form.email, {'label':'email','attr':{'placeholder':'votre nom email'}}) }}
    {{ form_row(form.password, {'label':'password','attr':{'placeholder':'votre mot de passe'}}) }}
    {{ form_row(form.confirme_password, {'label':'confirmer password','attr':{'placeholder':'confirmation votre mot de passe '}}) }}

     {{ form_row(form.client.nomCli, {'label':'nom ','attr':{'placeholder':'votre nom '}}) }}
    {{ form_row(form.client.prenomCli, {'label':'prenom ','attr':{'placeholder':'votre nom prenom'}}) }}
    {{ form_row(form.client.date_de_naissance, {'label':'date de naissance','attr':{'placeholder':'votre date de naissance'}}) }}
    {{ form_row(form.client.adresse, {'label':'adresse ','attr':{'placeholder':'votre adresse'}}) }}
    {{ form_row(form.client.ville, {'label':'ville ','attr':{'placeholder':'votre ville'}}) }}
    {{ form_row(form.client.CP, {'label':'code postale ','attr':{'placeholder':'votre code postale'}}) }}
    {{ form_row(form.client.telephone, {'label':'telephone ','attr':{'placeholder':'votre telephone'}}) }}
    
    {# {{ form_row(form.roles, {'label':'roles','attr':{'placeholder':'choisi un roles '}}) }} #}

    <button type="submit" class="btn btn-success w-100"> inscription </button>

    {{ form_end(form)}}

</div>

</div>

{% endblock %}