<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path('menu') }}"><i class="fas fa-home mr-3"></i> Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

        
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            
            {# <li class="nav-item active">
                <a class="nav-link" href="{{ path('includes/footer.html.twig') }}">Contact <span class="sr-only">(current)</span></a>
            </li> #}
            {# {% if is_granted('ROLE_ADMIN') %} 

            <li class="nav-item active">
                <a class="nav-link" href="{{ path('ajouter_article') }}"> Article</a>
            </li>
             <li class="nav-item active">
                <a class="nav-link" href="{{ path('ajouter_marque') }}"> Marque</a>
            </li>
             <li class="nav-item active">
                <a class="nav-link" href="{{ path('ajouter_categorie') }}"> Categorie</a>
            </li>
            {% endif %} #}

{# <div class="pull-right col-lg-4 col-md-4 col-sm-2 col-xs-3" id="cmcwebpartbasketmini">
	<div id="ttMiniCaddy"><div id="minicaddie" name="minicaddie">	<a class="hidden-sm hidden-xs" href="/sales/slscommercebasket.aspx">
		<div class="productNumber">
			<i class="icon-basket"></i>
		<span>0</span></div>
		<div class="titlePrice hidden-sm hidden-xs">
			<span class="txtmain">Mon panier</span>
			<span class="greentext">0,00€<sup>HT</sup></span>
		</div>
	</a>
	<a class="hidden-lg hidden-md col-sm-24 col-xs-24" href="/sales/slscommercebasket.aspx">
		<div class="productNumber">
			<i class="icon-basket"></i>
			<span>0</span>
		</div>
	</a>
</div></div>
</div> #}

            <li class="nav-item active">
    
                <a class="nav-link " href="{{ path('caddy') }}"> <i class="fas fa-shopping-cart"> </i> Mon Panier </a>

            </li>

            
             {% if app.user %}
                
                 <div class="dropdown mr-1">
                    <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                        bienvenue  {{ app.user.username }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">

                        <a class="dropdown-item"  href="{{ path('compte_infos',{"id": app.user.getId()}) }}"> <i class="fas fa-user"> </i> infos compte</a>
                        <a class="dropdown-item"  href="{{ path('security_registration') }}"> <i class="fas fa-user-plus "> </i> ajouter un compte</a>
                        <a class="dropdown-item" href="{{ path('security_logout') }}"> <i class="fas fa-lock-open "> </i> Se déconneter </a> 
                    </div>
                 </div>
                
             {% else %}
                <li class="nav-item active">
                        <a class="nav-link ml-5" href="{{ path('security_login') }}"> <i class="fas fa-user"></i> Connexion</a>

                 </li>
             {% endif %}
            

        </ul>
        {# <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" name="name" placeholder="Search" aria-label="Search">


            <button class="btn btn-secondary my-2 my-sm-0"  type="submit">Search</button>
        </form> #}
    </div>
</nav>







