
<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTN ▶
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjU ▶
      <link href="bootstrap-4.4.1-dist/css/bootstrap.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
         integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
      </link>
      <link rel="stylesheet" href="/assets/public/web/css/app.css">
   </head>
     <body>


<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
<div class="example-wrapper">
   {{client.nomCli}}
   <div>
    {{client.prenomCli}}

</div>
     {{client.adresse}}
      {{client.ville}} <br>
       {{client.CP}} <br>
        {{client.telephone}}
</div>
<div class="example-wrapper">
    <h1> Facture N° {{facture.id}} </h1>

    <table class="table">

      <thead>

            <tr>
                 <th> Article </th>
                 <th> Prix </th>
                 <th> Quantité </th>
                 <th> Totale </th>
                 <th> </th>
             </tr>
     </thead>

     <tbody>
     {% for Art in articles %}
            <tr>
            {# <img src="{{ Art.article.Image }}" class="d-block w-50 h-50"> #}
                <td> {{ Art.article.NomArt}}    </td>
                <td> {{ Art.article.PrixInitial }} </td>
                <td> {{ Art.quantité}} </td>
                <td> {{ Art.article.PrixInitial  * Art.quantité  }} </td>
                

            </tr>
    {% endfor %}

    </tbody>
   
    <tfoot>
            <tr>
               <td colspan="3" class="text-right"> Total HT: </td>
               <td> {{ total | number_format(0,',',' ') }} € </td>
            </tr>
             <tr>
               <td colspan="3" class="text-right"> TVA: </td>
               <td> {{ tva | number_format(0,',',' ') }} € </td>
            </tr>
            <tr>
               <td colspan="3" class="text-right"> Total TTC: </td>
               <td> {{ generale | number_format(0,',',' ') }} € </td>
            </tr>
     </tfoot>      

   </table>
    <p> Fait le : {{ commande.dateCmd |date("d/m/Y") }} </p> <br><br>

   <a href="{{ path('facture_print') }} "  class="btn btn-success btn-sm"> imprimer </a>



   </body>
</html>
