<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Boutique en ligne !{% endblock %}</title>

      
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        {# <link rel="stylesheet" href="web/css/style.css" media="screen" /> #}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <link href="bootstrap-4.4.1-dist/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"></link>

        {# <link rel="stylesheet" href="{{ asset('assets/public/web/css/app.css') }}"> #}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}" >


        {% block stylesheets %}         {% endblock %}
    </head>
    <body>

        <style>
            .recherche { max-width: 400px; width: 95%; font: 18px/1.5 sans-serif;
                             }
        </style>
 
      
        {{ include('includes/header.html.twig') }}

                
<div style="margin-top: 5rem;">

    <!-- barre infos -->

             <nav class="mb-2 navbar  navbar-light  font-weight-bold " 
                  style=" color:#f60; text-decoration:underline; line-height:20px ;
                   justify-content: center;   background-color:  rgb(157, 245, 116); ">
                
               <a class="navbar-brand "  href="https://www.gouvernement.fr/info-coronavirus" target="_blank"> Infos COVID-19</a>
           </nav>
    <!-- barre infos -->


<!-- barre de recherche -->

 <div class="container d-flex" style="width: 100%; padding-right: 15px; padding-left: 15px;
                                      margin-right: 15px; margin-left: 15px;">
        <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12 " id="cmcwebuserlogohome">
            

                <a title=" Vente de materiel informatique en ligne " class="WPUserLogo" id="lkIndex" 
                    onclick="ga('send', 'event', 'header', 'click-home', 'Logo informatique pour tous on header');" href="/">
                    <img src="{{asset ('img/logo.jpg')}}" title=" Vente de materiel informatique en ligne"
                        alt="informatqiue pour tous" >
                </a>

                <div style="display:none;">test</div>
        </div>

        {# <div class="recherche" >

            <form action="{{ path('recherche_article') }}" method="POST" class="d-flex mr-4 ml-4">

                    <div class="form-group">
                        <input class="form-control " type="text" required name="_q" placeholder="search" >
                    </div>
                    
                    <div>

                        <button class="btn btn-primary my-2 my-sm-0 ml-2"  type="submit"> search </button>
                    </div>
            </form>

        </div> #}
</div>
<!-- barre de recherche -->

<!-- barre  admin -->

{% if is_granted('ROLE_ADMIN') %} 

<ul class="nav justify-content-center">

    <li class="nav-item">
            <a class="nav-link bg-dark" href="{{ path('ajouter_article') }}"> Article</a>
    </li>
    <li class="nav-item">
            <a class="nav-link bg-dark" href="{{ path('ajouter_marque') }}"> Marque</a>
    </li>
    <li class="nav-item">
            <a class="nav-link bg-dark" href="{{ path('ajouter_categorie') }}"> Categorie</a>
    </li>
     <li class="nav-item">
            <a class="nav-link bg-dark" href="{{ path('client') }}"> Client</a>
    </li>
     <li class="nav-item">
            <a class="nav-link bg-dark" href="{{ path('recuper_commande') }}"> commande</a>
    </li>
    
</ul>

{% endif %}

<!-- barre  admin -->

        {% block body %}
            
        {% endblock %}
</div>
    <div class="mt-5">
    </div>

        {{ include('includes/footer.html.twig') }}


    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{{ asset('assets/js/app.js') }}"></script>
        <script src="https://kit.fontawesome.com/samplekit.js" crossorigin="anonymous"></script>
        {# <script src="web/js/main.js"></script> #}
    {% endblock %}

     
    </body>
</html>