{% extends 'base.html.twig' %}

{% block title %} Marque!{% endblock %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 400px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

 <h2> Ajouter Marque  ✅</h2>


  {{ form_start(form) }}

    {{ form_widget(form) }} 

    {{ form_end(form) }}
       
</div>

<h2> liste des marques </h2>
        <table class="table bg-light"  style="max-width: 400px">

                <thead class="bg-light">

                    <tr>
                        <th> libelle marque </th> 
                        <th> supprission marque </th>                
                    </tr>
                </thead>

            <tbody>

            {% for mar in marque %}
        
                    <tr>
                        <td> {{ mar.getLibelleMarque() }}    </td>
                        <td> 
                        <a href="{{ path('supprimer_marque',{"id": mar.id}) }}"
                         onclick="return confirm('Attention ce ci va supprimer la marque selectionnez')"> <i class="fas fa-trash"></i></a>
                        </td>
                        
                    </tr>
            {% endfor %}

            </tbody>
    </table>

{% endblock %}
