{% extends 'base.html.twig' %}

{% block title %} Categorie!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 400px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

 <div class="example-wrapper">

    <h2> Ajouter Category  ✅</h2>


  {{ form_start(form) }}

    {{ form_widget(form) }} 

    {{ form_end(form) }}
      
</div>

<h2> liste des categories </h2>

    <table  class="table bg-light" style="max-width: 400px">

                <thead>

                    <tr>
                        <th> name categorie </th> 
                        <th> supprission categorie </th>               
                    </tr>
            </thead>

            <tbody>

            {% for cat in categorie %}
        
                    <tr>
                        <td> {{ cat.name }}    </td>
                        <td> 
                        <a href="{{ path('supprimer_categorie',{"id": cat.id}) }}" 
                        onclick="return confirm('Attention ce ci va supprimer la categorie selectionnez')" > <i class="fas fa-trash"></i></a>
                        </td>
                        
                    </tr>
            {% endfor %}

            </tbody>
        
    </table>

 

{% endblock %}
